! Enable a color supported XTerm 
XTerm.termName: xterm-256color
xterm*background: #301010 
xterm*foreground: white

! Set xterm window size 
XTerm*VT100.geometry: 123x41

! Set font and fontsize 
XTerm*faceName: DejaVu Sans Mono Regular
XTerm*faceSize: 11

! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT Font Menu: Tiny
XTerm*faceSize2: 10
! VT Font Menu: Small
XTerm*faceSize3: 11
! VT Font Menu: Medium
XTerm*faceSize4: 12
! VT Font Menu: Large
XTerm*faceSize5: 14
! VT Font Menu: Huge
XTerm*faceSize6: 16

! Scrollbar 
XTerm*vt100.scrollBar: false

! Do not scroll when there is new input
XTerm*scrollTtyOutput: false

! Scrolling by using Shift-PageUp / Shift-PageDown or mousewheel by default 
! Lines of output you can scroll back over
XTerm*saveLines: 15000

! Enable copy/paste hotkeyes (mouse highlight = copy ,  shift+Insert = paste)
XTerm*selectToClipboard: true

! Select text 
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

! Keybindings 
XTerm*vt100.translations: #override \n\
  Ctrl <Key>O: smaller-vt-font() \n\
  Ctrl <Key>P: larger-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(PRIMARY) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

